.nav-container {
  display: flex;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.nav-container ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.nav-left {
  min-width: 300px;
}

.nav-right {
  min-width: 160px;
}
